<template>
  <div>
    <button type="button" @click="openForm" v-show="!isCreating">
      Add Todo
    </button>
    <div class="form" v-show="isCreating">
      <div class="field">
        <label>Title</label>
        <input v-model="formObject.title" name="title" type="text" />
      </div>
      <div class="field">
        <label>Text</label>
        <input v-model="formObject.project" name="project" type="text" />
      </div>
      <div class="field">
        <button @click="sendForm">Create</button>
        <button @click="closeForm">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formObject: {
        title: "",
        project: "",
      },
      isCreating: false,
    };
  },
  methods: {
    sendForm() {
      if (this.formObject.title.length > 0 && this.formObject.project.length > 0) {
        const formData = {...this.formObject, done: false}
        this.$emit('create-todo', formData)
        this.formObject.title = ''
        this.formObject.project = ''
        this.isCreating = false
      } else {
        return
      }
    },
    openForm() {
      this.isCreating = true;
    },
    closeForm() {
      this.isCreating = false;
    },
  },
};
</script>