<template>
  <div>
    <div>Completed tasks:{{completedLength}}</div>
    <div>Pending tasks:{{pendingLength}}</div>
    <TodoItem
      v-for="(todo, idx) in list"
      :todo="{ ...todo, index: idx }"
      :key="todo.project"
      @delete-todo="$emit('delete-todo', $event)"
      @complete-todo="$emit('complete-todo', $event)"
      @save-changes="$emit('save-changes', {data: $event, idx})"
    />
  </div>
</template>

<script>
import TodoItem from "./TodoItem.vue";

export default {
  props: {
    list: {
      required: true,
      type: Array,
    },
  },
  components: {
    TodoItem,
  },
  computed: {
    completedLength() {
      return this.list.filter(todo => todo.completed === true).length
    },
    pendingLength() {
      return this.list.filter(todo => todo.completed === false).length
    }
  }
};
</script>