<template>
  <div class="item">
    <div class="card" :class="{ isCompleted: todo.done }">
      <p>Title: {{ todo.title }}</p>
      <p>Completed: {{ todo.completed }}</p>
      <div class="card__controls">
        <button class="main-btn" type="button" @click="editItem">Edit</button>
        <button class="main-btn" type="button" @click="completeTodo(todo.index)">
          Complete Todo
        </button>
        <button class="main-btn" type="button" @click="removeTodo(todo.index)">
          Remove Todo
        </button>
      </div>
      <div class="card__edit" v-show="isEditable">
        <div class="card__form">
          <div class="card__field">
            <label>Title</label>
            <input type="text" v-model="formData.title"/>
          </div>
          <div class="card__field">
            <label>Project</label>
            <input type="text" v-model="formData.project"/>
          </div>
          <div class="card__field">
            <button class="main-btn" type="button" @click="closeEdit">
              Close
            </button>
          </div>
          <div class="card__field">
            <button class="main-btn" type="button" @click="saveChanges">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="card__field">
        <div
          class="card__label card__label--variant-success"
          v-show="!isEditable && todo.completed"
        >
          Completed
        </div>
        <div
          class="card__label card__label--variant-pending"
          v-show="!isEditable && !todo.completed"
        >
          Pending
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    todo: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isEditable: false,
      formData: {}
    };
  },
  created() {
    this.formData = {...this.todo}
  },
  methods: {
    removeTodo(idx) {
      this.$emit('delete-todo', idx)
    },
    editItem() {
      this.isEditable = true;
      this.formData = {...this.todo}
    },
    closeEdit() {
      this.isEditable = false;
    },
    completeTodo(idx) {
      this.$emit('complete-todo', idx)
    },
    saveChanges() {
      const formData = {
        title: this.formData.title,
        project: this.formData.project,
      }
      this.$emit('save-changes', formData)
    }
  },
};
</script>

<style scoped>
.card {
  margin: 20px 0;
  padding: 14px;
  border: 4px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}
.card.isCompleted {
  border-color: rgb(126, 185, 48);
}
.card__field {
  margin: 10px 0;
}
.card__label {
  display: inline-flex;
  padding: 4px;
  border-radius: 4px;
}
.card__label--variant-success {
  background-color: rgb(80, 206, 22);
}
.card__label--variant-pending {
  background-color: rgb(235, 201, 14);
}
</style>