<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <CreateTodo @create-todo="addTodo" />
    <TodoList 
      :list="todos" 
      @delete-todo="deleteItem"
      @complete-todo="completeTodo"
      @save-changes="editTodo"
    />
    <button type="button" @click="getTodo">Get Todo By Api</button>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import TodoList from "./todo-components/TodoList.vue";
import CreateTodo from "./todo-components/CreateTodo.vue";

import { getTodoAxios } from "@/todo-service";

export default {
  name: "App",
  components: {
    // HelloWorld,
    TodoList,
    CreateTodo
  },
  data() {
    return {
      counter: 1,
      todos: [],
    };
  },
  methods: {
    addTodo(item) {
      this.todos.push(item)
    },
    deleteItem(idx) {
      const size = 1
      this.todos.splice(idx, size)
    },
    completeTodo(idx) {
      this.todos[idx].completed = true
    },
    editTodo({data, idx}) {
      Object.keys(data).forEach(key => {
        this.todos[idx][key] = data[key];
      })
    },
    async getTodo() {
      const todoItem = await getTodoAxios(this.counter)
      this.todos.push(todoItem)
      this.counter++
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
